.about {
  display: flex;
  flex-direction: column;
}

.back-to-top {
  position: fixed;
  bottom: 10%;
  right: 0%;
  z-index: 100000;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.rocket-img {
  width: 75px;
  height: 75px;
}

@media screen and (max-width: 1100px) {
  .about-content {
    flex-direction: column;
  }
}
