.banner {
  margin: 0 auto;
  padding: 300px 0;
  box-shadow: 0 0px 8px 8px #197bbd;
  background-image: url("../images/bg7.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 95vh;
  width: 100%;
  box-sizing: border-box;
}

.banner-text {
  color: #fff;
  text-align: center;
  margin: 4% auto;
  max-width: 800px;
}

.banner-text span {
  font-size: 75px;
}

.banner button {
  color: #272427;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.8px;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 85%;
  transform: translateY(-50%);
  border-radius: 10px;
  border: 2px solid;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  background-size: 200% 100%;
  animation: movingLight 3s infinite;
}
.banner button svg {
  margin-right: 25px;
}
.banner button:hover svg {
  margin-right: 4px;
}
@keyframes movingLight {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 768px) {
  .banner button {
    font-size: 15px;
  }
  .banner-text span {
    font-size: 50px;
  }
}
@media screen and (max-width: 540px) {
  .banner-text span {
    font-size: 30px;
  }
  .banner {
    width: 94%;
  }
}
