header {
  box-shadow: 0 0 8px 8px #197bbd;
  padding: 3rem 0.5rem;
  max-width: 0 auto;
  background-image: url("../images/bg7.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}
