.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem 0;
}

.nav-item {
  color: #f1f0ea;
  font-weight: bold;
  text-decoration: none;
}

.nav-item:hover {
  color: #000;
}
